[submodule "external/stm32cubel4"]
	path = external/stm32cubel4
	url = https://github.com/STMicroelectronics/STM32CubeL4
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
